
.image-row {
    animation: rotate 80s linear infinite;
}
  
/* Odd rows scroll left to right */
.image-row.odd {
    animation-direction: normal;
}
  
/* Even rows scroll right to left */
.image-row.even {
    animation-direction: reverse;
}
  
/* Animation keyframes */
@keyframes rotate {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-50% - 0.5rem));
    }
}
  